<%= image_tag "logo.svg", size: "150x150" %>
<div class="login">
  <div class="flex flex-space-between">
    <%= form_with model: user, url: user_path, method: :post, local: true, scope: :user do |f| %>
      <% if flash[:success] %>
        <div class="success"><%= flash[:success] %></div>
      <% end %>
      <% if flash[:error] %>
        <div class="error"><%= flash[:error] %></div>
      <% end %>

      <div class="input-group">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
      <div class="input-group">
        <%= f.label :firstname %>
        <%= f.text_field :firstname %>
      </div>
      <div class="input-group">
        <%= f.label :lastname %>
        <%= f.text_field :lastname %>
      </div>
      <div class="input-group">
        <%= f.label :phone %>
        <%= f.text_field :phone %>
      </div>
      <div class="input-group">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class="form-actions">
        <%= f.submit "Create", class: "btn btn-dark btn-full btn-round" %>
      </div>
    <% end %>

    <%= image_tag "coins.png" %>
  </div>
</div>