<%= image_tag "logo.svg", size: "150x150" %>
<div class="login">
  <div class="flex flex-space-between">
    <%= form_with url: reset_reset_path, method: :post do |f| %>
      <h1>Reset Password</h1>

      <% if flash[:error] %>
          <div style="color:red;"><%= flash[:error] %></div>
      <% end %>
      <% if flash[:success] %>
        <div style="color:green;"><%= flash[:success] %></div>
      <% end %>
      
      <%= f.hidden_field :token, :value => @token %>

      <div style="margin-top: 10px;" class="input-group">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div style="margin-top: 10px;" class="input-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>
      
      <div class="form-actions">
        <%= f.submit "Confirm", class: "btn btn-dark btn-full btn-round", onclick: "this.disabled = true;" %> 
      </div>
      <div style="margin-left:5%;">
        <%= link_to "Back", root_path, class: "linkto" %>
      </div>
    <% end %>

    <%= image_tag "coins.png" %>
  </div>
</div>